/* Grid */

#grid {
	.article {
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
		background-image: url("../../images/thumbnail.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		width: 440px;
		height: 330px;
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
	}

	.article:hover {
	  cursor: pointer;
	  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 41, 100, 0.70), 
      rgba(255, 41, 100, 0.70)
    ),
    /* bottom, image */
    url("../../images/thumbnail.png");
    background-size: cover;
    -webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

	.article-expanded {
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
		width: 100%;
		padding-bottom: 3em;

		> img {
			width: 50%;
			max-height: 360px;
			padding-left: 40px;
		}

		> .article-content-wrapper {
			width: 50%;
			float: right;
			padding: 0 40px;
			height: 360px;
			position: relative;

			> button {
				position: absolute;
				bottom: 0px;
				right: 40px;
			}

			a {
				float: right;
			}

			p {
				clear: both;
				padding-top: 20px;
			}
		}

		> .article-header {

			background: _palette(main,bg);
		    margin-bottom: 20px;

		    ul {
				display: inline;
				float: right;
				margin-top: 15px;
				margin-right: 20px;
		    }

		    .icon {
				display: inline-block;
				width: 2em;
				height: 1.98em;
				background-repeat: no-repeat;
				background-size: cover;
		    }

			#report {
				background-image: url("../../images/report-white.png");
			}

			#report:hover {
				background-image: url("../../images/report-active.png");
				-webkit-transition: background-image 0.2s ease-in-out;
				transition: background-image 0.2s ease-in-out;
			}

			#close {
				background-image: url("../../images/close-light.png");
				background-repeat: no-repeat;
				position: relative;
				top: 15px;
    			left: 15px;	
			}

			.icon-wrapper {
			    background-color: _palette(accent1,bg);
			    height: 60px;
			    width: 60px;
			    float: right;
			}

			.icon-wrapper:hover {
				background-color: darken(_palette(accent1, bg), 12);
				-webkit-transition: background-color 0.2s ease-in-out;
				transition: background-color 0.2s ease-in-out;
			}

			h1 {
				color: white;
				text-transform: uppercase;
				font-size: 40px;
				font-family: Open Sans, sans-serif;
				font-weight: lighter;
				padding: 10px 20px;
				margin-bottom: 0;
				display: inline;
			}
		}

		> .article-second-header {
		    padding: 0px 40px 20px 40px;
			border-bottom: 1px solid _palette(main,bg);
			margin-bottom: 50px;
		}
	}
}

	@include breakpoint(xsmall) {
		#grid {
			.article {
				width: 100%;

				h2 {
					font-size: 25px;
				}
			}

			#close {
				background-size: 50%;
			}

			.article-expanded {
				.article-content-wrapper {
					width: 100%;
					float: none;
					padding: 0 20px;
					height: auto;
					position: relative;

					button {
						position: relative;
						right: 0;
						width: 100%;
					}

					p {
						margin-bottom: 20px;
					}
				}
				.article-header {
					.icon-wrapper {
						height: 45px;
						width: 45px;
					}

					h1 {
						font-size: 30px;
					}
				}

				> img {
					width: 100%;
					max-height: 360px;
					padding-left: 0px;
				}

				.article-second-header {
					padding: 0 0 0 20px;
					border: none;
					margin-bottom: 0;
				}

				.curator {
					padding-left: 20px;
				}
			}
		}

	}